################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab2/backup
/Lab2/backup (wo fitts)
/Lab2/Lab2/.vs
/.vs
/Lab2/Lab2/bin/Debug/net7.0-windows
/Lab2/Lab2/obj
